In [1]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\qw\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
messages = [line.rstrip() for line in open('smsspamcollection/SMSSpamCollection')]

In [3]:
print(len(messages))

5574

In [4]:
messages[50]

'ham\tWhat you thinked about me. First time you saw me in class.'

In [5]:
for mess_no, message in enumerate(messages[:10]):
    print(mess_no, message)
    print('\n')

0 ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...


1 ham	Ok lar... Joking wif u oni...


2 spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's


3 ham	U dun say so early hor... U c already then say...


4 ham	Nah I don't think he goes to usf, he lives around here though


5 spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv


6 ham	Even my brother is not like to speak with me. They treat me like aids patent.


7 ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune


8 spam	WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.


9 spam	Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

In [6]:
messages[0]

'ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [7]:
import pandas as pd

In [31]:
messages = pd.read_csv('smsspamcollection/SMSSpamCollection', on_bad_lines='skip',names=['labels','messages'])

In [32]:
messages.head()

,labels,messages
0,ham\tGo until jurong point,crazy.. Available only in bugis n great world...
1,ham\tOk lar... Joking wif u oni...,NaN
2,spam\tFree entry in 2 a wkly comp to win FA Cu...,NaN
3,ham\tU dun say so early hor... U c already the...,NaN
4,ham\tNah I don't think he goes to usf,he lives around here though

In [34]:
messages.describe()

            labels          messages
count         5205               950
unique        4722               856
top     ham\tSorry   I'll call later
freq            44                30

In [35]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5205 entries, 0 to 5204
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   labels    5205 non-null   object
 1   messages  950 non-null    object
dtypes: object(2)
memory usage: 81.5+ KB

In [39]:
messages.groupby('labels').describe()

                                                   messages         \
                                                      count unique
labels
ham\t                                                     1      1
ham\t &lt;#&gt;  in mca. But not conform.                 0      0
ham\t &lt;#&gt;  mins but i had to stop somewhe...        0      0
ham\t &lt;DECIMAL&gt; m but its not a common ca...        0      0
ham\t and  picking them up from various points            0      0
...                                                     ...    ...
spam\tthesmszone.com lets you send free anonymo...        0      0
spam\ttodays vodafone numbers ending with 0089(...        0      0
spam\tu r a winner U ave been specially selecte...        0      0
spam\twamma get laid?want real doggin locations...        0      0
spam\twe tried to contact you re your response ...        0      0

                                                                                           \
                                                                                      top
labels
ham\t                                                how's things? Just a quick question.
ham\t &lt;#&gt;  in mca. But not conform.                                             NaN
ham\t &lt;#&gt;  mins but i had to stop somewhe...                                    NaN
ham\t &lt;DECIMAL&gt; m but its not a common ca...                                    NaN
ham\t and  picking them up from various points                                        NaN
...                                                                                   ...
spam\tthesmszone.com lets you send free anonymo...                                    NaN
spam\ttodays vodafone numbers ending with 0089(...                                    NaN
spam\tu r a winner U ave been specially selecte...                                    NaN
spam\twamma get laid?want real doggin locations...                                    NaN
spam\twe tried to contact you re your response ...                                    NaN


                                                   freq
labels
ham\t                                                 1
ham\t &lt;#&gt;  in mca. But not conform.           NaN
ham\t &lt;#&gt;  mins but i had to stop somewhe...  NaN
ham\t &lt;DECIMAL&gt; m but its not a common ca...  NaN
ham\t and  picking them up from various points      NaN
...                                                 ...
spam\tthesmszone.com lets you send free anonymo...  NaN
spam\ttodays vodafone numbers ending with 0089(...  NaN
spam\tu r a winner U ave been specially selecte...  NaN
spam\twamma get laid?want real doggin locations...  NaN
spam\twe tried to contact you re your response ...  NaN

[4722 rows x 4 columns]

In [41]:
messages['length'] = messages['messages'].apply(len)

TypeError: object of type 'float' has no len()